@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Gothic+A1&family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.left-side {
  position: sticky;
  display: flex;
  width: 230px;
  height: 1280px;
  left: 0px;

  flex-shrink: 0;
  background-color: black;
  flex-direction: column;
  justify-content: flex-start;

  z-index: 2;

  padding: 20px;
}
.logo1 {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.left-side button {
  width: 200.097px;
  height: 61.761px;
  border: none;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  justify-content: flex-start;

  align-items: center;

  background-color: rgb(0, 0, 0);

  color: #fff;
  font-family: DM Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.14px;

  border-radius: 6px;
}
.left-side button:hover {
  background: #282828;
  cursor: pointer;
}

.logo1 img {
  width: 202.576px;
  height: 60.526px;
  padding-right: 20px;
}

.c1left a,
.c2left a {
  color: white;
  display: flex;
  text-decoration: none;

  padding-left: 30px;
}
.musiccard {
  display: flex;
  position: fixed;
  padding: 2px;
  border: #393936;
  top: 735px;
  flex-direction: column;
  justify-content: flex-start;
  left: 0px;
  z-index: 2;
  justify-content: center;
}
.musiccard img {
  display: flex;
  position: sticky;
  left: 0px;
}
.content1 {
  display: flex;
  height: 880px;
  width: 1720px;
  position: absolute;
  left: 270px;
  top: 0px;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
}
.con1up {
  position: relative;

  display: flex;
  width: 1700px;
  height: 800px;
  background-color: rebeccapurple;
  border: 2px solid black;
  padding: 100px;
  flex-direction: row;
  background: linear-gradient(180deg, #393936 0%, rgba(57, 57, 50, 0.42) 100%);

  bottom: 20px;
}
.con1img {
  width: 230px;
  height: 233px;
  display: flex;
  box-shadow: 0px 0px 29.675504684448242px 0px rgba(5, 5, 5, 0.61);
}
.con1con {
  height: 300px;
  width: 500px;

  display: flex;
  position: relative;

  flex-direction: column;
  padding-left: 30px;
  justify-content: flex-start;
}
.pcon1up {
  display: flex;
  color: #fff;
  font-family: Gothic A1;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 175% */
}

.pcon1down {
  display: flex;
  padding-top: 200px;
  color: #bebebd;
  font-family: Gothic A1;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

.con1conph {
  display: flex;
  height: 103px;
  width: 1000px;
  position: absolute;
  top: 90px;

  color: #fff;
  font-family: Gothic A1;
  font-size: 90px;
  font-style: bold;
  font-weight: 1000;
  line-height: 21px; /* 28.378% */
}
.pconfot {
  display: flex;
  gap: 20px;
  color: #fff;
  font-family: Gothic A1;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 175% */
}
.pconfot p {
  color: #bebebd;
  font-family: Gothic A1;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px; /* 175% */
}
.conmid {
  position: absolute;

  top: 360px;

  height: 150px;
  width: 1840px;
  border: 2px solid black;
  display: inline-flex;
  padding: 20px 30px;
  align-items: center;
  gap: 26px;
  border-bottom: 1px solid #2e2e2c;
  background: #191919;
}

.con1down {
  height: 750px;
  width: 1900px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 500px;
}
.con1down th {
  border: none;
  background-color: #181818;

  text-align: center;
  color: #fff;
  font-family: Gothic A1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 175% */
}
.con1down tr {
  align-items: center;
  background-color: #2e2e2c;
  color: whitesmoke;
  border: none;
  height: 100px;
}
.con1down td {
  border: none;
  text-align: center;
}
.contable {
  border-collapse: collapse;
  border: none;
}
.con1td {
  color: #b3b3b3;
  font-family: Gothic A1;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 175% */
}

.cardtable {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 120px;
}
.cardtable img {
  display: flex;
}

.cct1 {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.cardtable p {
  display: flex;
  font-size: x-small;
  font-family: Gothic A1;
  color: #b3b3b3;
}
.cardtable h3 {
  display: flex;
  font-size: small;
  font-family: Gothic A1;
}

.tablenum {
  width: 30px;
  text-align: end;
}
.musicplayer1 {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100px;
  width: 1920px;

  padding-left: 270px;
  justify-content: flex-end;
}

.musicplayer {
  bottom: 0px;
  display: flex;
  position: fixed;
  width: 1700px;
  height: 152px;
  background-color: #181818;
  flex-direction: column;
  justify-content: space-between;

  z-index: 3;
}
.mp1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mp1right {
  padding-left: 20px;
}
.mp1right h2 {
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
}
.mp1right h3 {
  color: #b3b3b3;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.75px;
}

.mp2 {
  display: flex;
  height: 100px;
  width: 500px;

  justify-content: space-between;
  flex-direction: column;
}
.mp21 {
  padding-left: 100px;
  display: flex;
  height: 100px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.mp22 {
  display: flex;
  align-items: center;
}
.mp3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mp3 img {
  display: flex;
  padding-left: 10px;
}
.musx1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.rectanglem1 {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  width: 1690px;
  height: 30px;
  flex-shrink: 0;
  background-color: #1ed760;
  align-items: center;
  padding: 5px;
}
.rectanglem1 img {
  display: flex;
  padding-right: 20px;
}

.rectanglem1 p {
  display: flex;
  color: #000;
  font-family: DM Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
