@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&display=swap');


*{
    font-family: DM Sans;
    margin: 0px;
    padding: 0px;
    color: white;
}
.main-c{
    display: flex;
    position: relative;
}
.donwloadleft{
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-evenly;
}
.downloadleft img{
    display: flex;
}
.downloadleft p{
    display: flex;
}


.left-side{
    display: flex;
    width: 371.80126953125px;
    height: 982px;
    top: 1px;

    flex-shrink: 0;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.logo1{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.left-side button{
    width: 347.097px;
    height: 61.761px;
    border: none;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    justify-content:flex-start;
    
  
    background-color: rgb(0, 0, 0);

    color: #FFF;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.14px;

    border-radius: 6px;

}
.left-side button:hover{
    background: #282828;
    cursor: pointer;
}

.logo1 img{
    width: 202.576px;
    height: 60.526px;
    padding-right: 20px;
}
.c1left img, .c2left img {
    display: flex;
}

.c1left a,.c2left a{
    display: flex;
    text-decoration: none;
    
    padding-left: 30px;
}

.c1left ul, .c2left ul{
    list-style: none;
}
.c1left{
    display: flex;
    padding-top: 10px;

}
.c2left{
    display: flex;
    padding-top:30px ;
}


.leftnav img{
    border: none;
    fill: #131313;
        width: 40px;
    height: 40px;
    flex-shrink: 0;
    }

.hero{

        display: flex;
        /* width: 1447.1px; */
        width: 1573px;
        /* height: 1115.885px; */
        height: 950px;
        flex-shrink: 0;
        background: linear-gradient(180deg, #222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18, 0.00) 100%); 
        padding: 20px;
       
        flex-direction: column;
    }

.hero h1{
    display: flex;
    
}

.song1{

    position: relative;
    display: flex;
 
    height: 320px;
 
    width: 1450px;
 
    justify-content: space-between;
       
    flex-direction: row;
    flex-wrap: wrap;
  
    }


.tosong{
    padding-top: 30px;
   display: flex;
    position: relative;
    width: 462px;
    height: 100px;
    flex-shrink: 0;
    flex-direction: row;
 
}
.lefttosong{
    display: flex;
    width: 100px;
height: 100px;
flex-shrink: 0;
border-radius: 4px 0px 0px 4px;
background: linear-gradient(135deg, #4000F4 0%, #603AED 22.48%, #7C6EE6 46.93%, #979FE1 65.71%, #A2B3DE 77.68%, #ADC8DC 88.93%, #C0ECD7 100%);
}
.righttosong{
   
    width: 362px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    border-radius: 4px;
    background: #303030;
    align-items: center;
    justify-content: center;
}

.cont2r{
    display: flex;
    justify-content: space-between;
}
.cont2r h2{
    display: flex;
    color: #FFF;
    font-family: DM Sans;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.16px;
}
.cont2r span{
    display: flex;
    color: #B3B3B3;
font-family: DM Sans;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.68px;
}
.cont2r span:hover
{
    color: #979FE1;
    cursor: pointer;
}
.artistgal{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    padding-left:20px ;

}
.artist{
    display: flex;
    left: 0px;
    width: 251.292px;
    height: 305.904px;
    background: #181818;
     
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: #282828;
   
}
.artist:hover{
    background-color: #303030;
}
.artist img{
    display: flex;
    align-items: center;
    border-radius: 14px;
    width: 207.778px;
    height: 207.928px;

    display: flex;
}
.artist h3{
    display: flex;
    color: #FFF;
font-family: DM Sans;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.42px;

justify-content: flex-start;

}
.artist p{
    display: flex;
    justify-content: flex-start;
    color: #B3B3B3;
font-family: DM Sans;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.15px;
}
.cont2r{
    padding: 40px;
}


.heronav{
    height: 100%;
   
    padding: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rightnav button{
    display: flex;
    width: 147px;
    border: none;
height: 51px;
flex-shrink: 0;
border-radius: 33px;
background: #0A0A0A;
color: #FFF;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.4px;
justify-content: space-between;
padding-left: 10px;
padding-right: 10px;
align-items: center;
}
.rightnav button:hover{
    cursor: pointer;
    background-color: #4000F4;
}
.leftnav{
    display: flex;
    flex-direction: row;

}
.leftnav img{
    
    width: 37px;
height: 37px;
flex-shrink: 0;
border-radius: 37px;
}


.musicplayer{
    bottom: 0px;
    display: flex;
    position: sticky;
    width: 1920px;
    height: 152px;
    background-color:#181818;
   flex-direction:column;
   justify-content: space-between;

}
.mp1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.eright{
    padding-left:20px ;
}
.mp1right{
    padding-left: 20px;

}
.mp1right h2{
    color: #FFF;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.9px;

}
.mp1right h3{
    color: #B3B3B3;
font-family: DM Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.75px;
}

.mp2{
    display: flex;
    height: 100px;
    width: 500px;
   
    justify-content: space-between;
    flex-direction: column;

}
.mp21{
    padding-left: 100px;
    display: flex;
    height: 100px;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.mp22{
    display: flex;
    align-items: center;
}
.mp3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.mp3 img{
    display: flex;
    padding-left:10px ;

}
.musx1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.rectanglem1{
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    width: 1910px;
    height: 30px;
    flex-shrink: 0;
    background-color: #1ED760;
    align-items: center;
    padding: 5px;

}
.rectanglem1 img{
    display: flex;
    padding-right:20px;
}

.rectanglem1 p{
    display:flex;
    color: #000;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}